<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">

<dom-module id="maven-header-panel">
    <template>
        <style>
            paper-tab {
                padding-left: 5px;
                padding-right: 5px;
            }
            paper-tab a {
                color: white;
            }
        </style>
        <paper-header-panel>
            <paper-toolbar>
                <paper-tabs id="tabs" selected="home" self-end>
                    <paper-tab name="home" noBar="true" noink="true" link>
                        <a href="/" class="horizontal center-center layout">Home</a>
                    </paper-tab>
                    <paper-tab name="about" noBar="true" noink="true" link>
                        <a href="/html/views/about.html" class="horizontal center-center layout">About</a>
                    </paper-tab>
                </paper-tabs>
            </paper-toolbar>
        </paper-header-panel>
    </template>
    <script>
        Polymer({
        });
    </script>
</dom-module>
