<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">

<dom-module id="maven-header-panel">
    <template>
        <style></style>
        <paper-header-panel>
            <paper-toolbar>
                <paper-tabs id="tabs" selected="home" self-end>
                    <paper-tab name="home">Home</paper-tab>
                    <paper-tab name="about">About</paper-tab>
                </paper-tabs>
            </paper-toolbar>
        </paper-header-panel>
    </template>
    <script>
        Polymer({
        });
    </script>
</dom-module>
